@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container-hero{
    color: #f9faf8;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10%;

}

.container-header .header{
    font-size: 24px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}

.hero .hero-content{
    max-width: 500px;
}

.hero .placeholder-img{
    width: 400px;
    text-align: center;
    border: rgba(177, 175, 175, 0.553) solid 2px;
    padding: 200px;
    background-color: rgba(177, 175, 175, 0.553);
    font-size: larger;
}

.hero .hero-content .header-hero{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.hero .hero-content .paragraph-hero{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 2rem;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 4rem;
}

.container-content .content-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container-content .container-cards{
    display: flex;
    justify-content: center;
    width: 75%;
    gap: 75px;
    align-items: center;
}

.card-sep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 200px;
    min-height: 200px;
    border: #3882f6 solid 6px;
    border-radius: 20px;
    background-color: white;
}

.card-sep .text{
    max-width: 200px;
    display: flex;
    color: gray;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}

.container-quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-left: 20%;
    padding-right: 20%;
}

.quote {
    margin-top: 5rem;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.reference-quote {
    margin-top: 1rem;
    width: 100%;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 4rem;
}

.container-cta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6em;
    padding-left: 10%;
    padding-right: 10%;
}

.call-to-action{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color:#3882f6;
    padding: 3.5rem;
    padding-left: 15% ;
    padding-right: 15%;
    border-radius: 8px;
}


.call-to-action .header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action .text{
    color: #f9faf8;
    font-size: 18px;
    font-weight: 400;
}

.call-to-action .btn{
    border: #e5e7eb solid 2px;
}

.footer{
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 1.2rem;
    margin-left: 2rem;
}

button{
    min-width: none;
    background-color: #3882f6;
    font-size: larger;
    font-weight: bold;
    color: #f9faf8;
    padding: 0.5rem 1.5rem;
    border: #3882f6 solid 2px;
    border-radius: 8px;
}
